
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather Forecast APP</title>
</head>
<body>
    <div> 
        @ViewBag.Weather
    </div>
</body>
</html>
